.vscode/

**/log
**/install
**/build
__pycache__/

/build
/install
/log

/src/build
/src/install
/src/log

**/.DS_Store
.DS_Store
/src/.idea/*
/.idea/*

._.DS_Store
src/roboclaw_motordriver/roboclaw_motordriver/roboclaw_drivers/robotester.py
src/watney_navigation/._setup.py
src/watney_robot/._setup.py
